<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cubezapp - Home</title>
  </head>
  <body>
    This is the mobile website. Click <a href="view_desktop">here</a> to see the Desktop site.
  </body>
</html>