<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cubezapp - Home</title>
  </head>
  <body>
    A whole lot of puzzles will go here :(
    {{#siteOverride}}
    This is the desktop site. Click <a href="view_mobile">here</a> to view the mobile site.
    {{/siteOverride}}
  </body>
</html>